.card{
    display: inline-block;
    border: solid black;
    padding: 10px;
    box-shadow: 5px 10px #333333;
    text-align: center;

}

.cardImg{
    height: 200px;
    width: 240px;
    /* left: 40px; */
}

/* .cardCont{
    margin: left;
    float: left;
} */

/* .specs{
    float: left;
} */

.specList{
    font-size: 24px
}

.name{
    bottom: 0;
    direction: rtl;

}

.survey{
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    /* left: 50%; */
    right: 27%;

}

.surveybackground{
    background: black
}