.container{
    display: inline-block;
    direction: ltr;
    position: relative;
    background: grey

}

.card{
    border: solid black 5px;
    padding: 10px;
    margin: 35px;
    position: relative;
    width: 300px;
    height: 700px;
    vertical-align: top;
    border-radius: 20%;
    background: white





}
/* .survey{
    background: black
} */

.name{

}

.surveybackground{
    opacity: 1;
}